/* styles.css */

.formContainer {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icon {
    font-size: large;
  }
  
  .submitButton {
    margin-top: 16px;
  }
  